pynb_checkpoints
**/.ipynb_checkpoints
**/__pycache__
**/*.csv
data_output/
**/*.7z
**/*.deb
**/*.gz
**/*.pkg
**/*.rar
**/*.rpm
**/*.sit
**/*.sitx
**/*.tar
**/*.zip
**/*.zipx
**/*.tgz
**/*.log
**/*.h5
**/*.json
**/*.npy

